* {
  margin: 0;
  padding: 0;
}

.header {
  background: #ffffff;
  color: #235ed6;
  height: 80px;
}

@media screen and (min-width:360px) and (max-width: 414px) {
  .header {
    background: #ffffff;
    color: #235ed6;
    height: 80px;
    width: 1000px;
  }
}

.main-nav li {
  display: inline-block;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 30px;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: #235ed6;
  text-decoration: none;
  padding: 5px 60px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.main-nav li.active a {
  border: 1px solid #235ed6;
}

.main-nav li a:hover {
  border: 1px solid #235ed6;
}

.logo {
  margin: 25px;
  height: 40px;
}

p {
  color: white;
  text-decoration: none;
  padding: 5px 60px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  text-align: left;
  font-family: "Myriad Pro";
  font-weight: bold;
  color: #fff;
  top: 185px;
}

h1 {
  color: white;
  font-size: 60px;
  text-decoration: none;
  padding: 5px 60px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  position: relative;
  text-align: left;
  font-family: "Myriad Pro";
  font-weight: bold;
  color: #fff;
  top: 185px;
}

@media screen and (min-width:360px) and (max-width: 414px) {
  h1 {
    color: white;
    font-size: 60px;
    text-decoration: none;
    padding: 5px 60px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: bold;
    position: relative;
    text-align: left;
    font-family: "Myriad Pro";
    font-weight: bold;
    color: #fff;
    top: 100px;
  }
}
