* {
  margin: 0;
  padding: 0;
}

.header {
  background: #ffffff;
  color: #235ed6;
  height: 80px;
}

.main-nav li {
  display: inline-block;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 30px;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: #235ed6;
  text-decoration: none;
  padding: 5px 60px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.main-nav li.active a {
  border: 1px solid #235ed6;
}

.main-nav li a:hover {
  border: 1px solid #235ed6;
}

.logo {
  margin: 25px;
  height: 40px;
}

p {
  color: white;
  text-decoration: none;
  padding: 5px 60px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  text-align: left;
  font-family: "Myriad Pro";
  font-weight: bold;
  color: #fff;
  top: 150px;
}

@media screen and (min-width:780px) and (max-width: 1700px) {
  p {
    color: white;
    text-decoration: none;
    padding: 5px 60px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: bold;
    font-size: 10px;
    position: relative;
    text-align: left;
    font-family: "Myriad Pro";
    font-weight: bold;
    color: #fff;
    top: 150px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  p {
    color: white;
    text-decoration: none;
    padding: 5px 60px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    text-align: left;
    font-family: "Myriad Pro";
    font-weight: bold;
    color: #fff;
    top: 150px;
  }
}

h1 {
  color: white;
  font-size: 60px;
  text-decoration: none;
  padding: 5px 60px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  position: relative;
  text-align: left;
  font-family: "Myriad Pro";
  font-weight: bold;
  color: #fff;
  top: 140px;
}

.btn {
  font-size: 18px;
  color: #fff;
  margin: 5px;
  padding: 7px 22px;
  text-decoration: none;
  font-family: "Myriad Pro", sans-serif;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 25px;
  position: relative;
  top: -450px;
  right: -50px;
}

.imagen {
  position: relative;
  top: 0px;
}

@media screen and (min-width:780px) and (max-width: 1700px) {
  .btn {
    font-size: 10px;
    color: #fff;
    margin: 5px;
    padding: 7px 22px;
    text-decoration: none;
    font-family: "Myriad Pro", sans-serif;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 25px;
    position: relative;
    top: 200px;
    right: -50px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .btn {
    font-size: 20px;
    color: #fff;
    margin: 5px;
    padding: 7px 22px;
    text-decoration: none;
    font-family: "Myriad Pro", sans-serif;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 25px;
    position: relative;
    top: 200px;
    right: -50px;
  }
}

@media screen and (min-width:780px) and (max-width: 1700px) {
  .imagen {
    position: relative;
    top: -90px;
    right: 20px;
    width: 200px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .imagen {
    position: relative;
    top: -90px;
    right: 0px;
    width: 170px;
  }
}
