* {
  margin: 0;
  padding: 0;
}

.header {
  background: #ffffff;
  color: #235ed6;
  height: 80px;
}

.main-nav li {
  display: inline-block;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 30px;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: #235ed6;
  text-decoration: none;
  padding: 5px 60px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.main-nav li.active a {
  border: 1px solid #235ed6;
}

.main-nav li a:hover {
  border: 1px solid #235ed6;
}

.logo {
  margin: 25px;
  height: 40px;
}

p {
  color: white;
  text-decoration: none;
  padding: 5px 60px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  text-align: left;
  font-family: "Myriad Pro";
  font-weight: bold;
  color: #fff;
  top: 185px;
}

@media screen and (min-width:780px) and (max-width: 1700px) {
  p {
    color: white;
    text-decoration: none;
    padding: 5px 60px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: bold;
    font-size: 10px;
    position: relative;
    text-align: left;
    font-family: "Myriad Pro";
    font-weight: bold;
    color: #fff;
    top: 185px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  p {
    color: white;
    text-decoration: none;
    padding: 5px 60px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    text-align: left;
    font-family: "Myriad Pro";
    font-weight: bold;
    color: #fff;
    top: 185px;
  }
}

h1 {
  color: white;
  font-size: 60px;
  text-decoration: none;
  padding: 5px 60px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  position: relative;
  text-align: left;
  font-family: "Myriad Pro";
  font-weight: bold;
  color: #fff;
  top: 185px;
}

@media screen and (min-width:780px) and (max-width: 1700px) {
  h1 {
    color: white;
    font-size: 40px;
    text-decoration: none;
    padding: 5px 60px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: bold;
    position: relative;
    text-align: left;
    font-family: "Myriad Pro";
    font-weight: bold;
    color: #fff;
    top: 185px;
  }
}

.google-maps {
  width: auto;
  height: auto;
  float: right;
  width: 13%;
  margin: 25%;
  margin-top: -12%;
}

@media screen and (min-width:780px) and (max-width: 1700px) {
  .google-maps {
    width: auto;
    height: auto;
    float: right;
    width: 13%;
    margin: 25%;
    margin-top: -12%;
    position: relative;
    top: 500px;
    left: -420px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .google-maps {
    width: auto;
    height: auto;
    float: right;
    width: 7%;
    margin: 25%;
    margin-top: -12%;
    position: relative;
    top: 320px;
    left: -420px;
  }
}

.btn {
  font-size: 18px;
  color: #fff;
  margin: 5px;
  padding: 7px 22px;
  text-decoration: none;
  font-family: "Myriad Pro", sans-serif;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 25px;
  top: 210px;
  position: relative;
  left: 50px;
}

@media screen and (min-width:780px) and (max-width: 1700px) {
  .btn {
    font-size: 10px;
    color: #fff;
    margin: 5px;
    padding: 7px 22px;
    text-decoration: none;
    font-family: "Myriad Pro", sans-serif;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 25px;
    top: 210px;
    position: relative;
    left: 50px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .btn {
    font-size: 20px;
    color: #fff;
    margin: 5px;
    padding: 7px 22px;
    text-decoration: none;
    font-family: "Myriad Pro", sans-serif;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 25px;
    top: 210px;
    position: relative;
    left: 50px;
  }
}
